@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,700,800");
html {
	font-family: sans-serif;
	/* 1 */
	-ms-text-size-adjust: 100%;
	/* 2 */
	-webkit-text-size-adjust: 100%;
	/* 2 */
}

body {
	font: 400 17px/1.5 "Raleway", sans-serif;
}

/* Layout */
.ba-container {
  	padding-left: 20px;
  	padding-right: 20px;
  	max-width: 1200px;
}

/*== Grid ==*/
/* Grid clearfix */
.ba-row:before, .ba-row:after {
  	content: " ";
  	display: table;
}

.ba-row:after {
  	clear: both;
}

.ba-row + .ba-row {
  	margin-top: 20px;
}

[class*="ba-width-"] {
  	width: 100%;
}

.ba-row > [class*="ba-width-"] {
  	float: left;
  	padding-left: 20px;
}

.ba-row {
  	margin-left: -20px;
}

/* Whole */
.ba-width-1-1 {
    width: 100%;
 }
/* Halves */
.ba-width-1-2, .ba-width-2-4, .ba-width-3-6 {
    width: 50%;
}
/* Thirds */
.ba-width-1-3, .ba-width-2-6 {
    width: 33.333%;
}
.ba-width-2-3, .ba-width-4-6 {
    width: 66.666%;
}
/* Quarters */
.ba-width-1-4 {
    width: 25%;
}
.ba-width-3-4 {
    width: 75%;
}
/* Fifths */
.ba-width-1-5 {
    width: 20%;
}
.ba-width-2-5 {
    width: 40%;
}
.ba-width-3-5 {
    width: 60%;
}
.ba-width-4-5 {
    width: 80%;
}

/* Typography */
a,
input[type="submit"],
input[type="button"],
button{
	-webkit-transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
	-moz-transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
	transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
}

input[type="submit"],
input[type="button"],
button,
.ba-button{
	display: inline-block;
	background-color: #ff6033;
  	box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.5);
  	width: 200px;
  	height: 55px;
  	text-transform: uppercase;
  	color: #FFF;
  	border: none;
  	outline: none;
}

input[type="submit"]:hover,
input[type="button"]:hover,
button:hover,
.ba-button:hover{
	opacity: 0.7;
}

.ba-button:focus {
  outline-color: #fff;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="number"],
input[type="tel"],
textarea,
select {
	-webkit-transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
	-moz-transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
	transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
	display: inline-block;
	display: inline-block;
 	height: 56px;
	line-height: 48px;
	border: 1px solid #848789;
	padding: 0 30px;
	font-style: italic;
	font-weight: 400;
	vertical-align: middle;
	width: 570px;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus,
input[type="number"]:focus,
input[type="tel"]:focus,
textarea:focus,
select:focus {

}
textarea {

}

.ba-fresh {
	background: #FFF url('../img/img.png') 50% no-repeat;
	background-size: cover;
	min-height: 100vh;
	padding: 50px 0;
	position: relative;
}

/* .ba-header-menu {
	width: 100%;
	margin: 0 0;
	height: 150px;
	z-index: 1;
	position: fixed;
	background-color: rgba(255, 255, 255, .8);
} */

.ba-logo {
	float: left;
}

.ba-header-nav {
	float: right;
}

.ba-menu {
	list-style: none;
	padding: 0;
	float: right;
	height: 90px;
}

.ba-menu a {
	font-family: "Raleway", sans-serif;
	color: #262626;
 	font-size: 16px;
 	font-weight: 700;
  	text-decoration: none;
  	padding-bottom: 10px;
  	text-transform: uppercase;
  	border-top: 3px solid transparent;
  	margin: 0 10px;
}

.ba-menu a:hover {
  	border-color: #ff6033;
  	margin-bottom: 9px;
  	border-top: 3px solid #FF6033;
}

.ba-menu li {
  	float: left;
}

.ba-fresh_first-content {
  	float: left;
  	width: 50%;
}

.ba-fresh_first-content h2 {
  	color: #262626;
  	font-size: 60px;
  	font-weight: 800;
  	margin-top: 170px;
  	margin-bottom: 15px;
}

.ba-fresh_first-content p {
  	color: #262626;
  	font-size: 17px;
  	font-weight: 300;
 	margin-bottom: 30px;
}

.ba-scroll {
  	position: absolute;
  	background: url("../img/scroll.png") 50% no-repeat;
  	width: 24px;
  	height: 40px;
  	bottom: 60px;
 	transition: -webkit-transform .2s ease-in;
 	transition: transform .2s ease-in;
 	transition: transform .2s ease-in, -webkit-transform .2s ease-in;
}

.ba-scroll:hover {
	-webkit-transform: translateY(-10px);
      -ms-transform: translateY(-10px);
          transform: translateY(-10px);
}

/* ba-about */

.ba-about {
  	background-color: #19BDBD;
}

.ba-about__content {
 	padding: 115px 0 100px 100px;
 	float: right;
}

.ba-about__content h3 {
  	color: #ffffff;
 	font-size: 90px;
 	font-weight: 700;
  	margin-bottom: 30px;
 	margin-top: 0;
}

.ba-about__content p {
	color: #ffffff;
	font-size: 17px;
	font-weight: 300;
}

img[alt="malina"] {
	float: left;
}

/* ba-services */

.ba-services {
  	background-color: #6FBEFD;
}

.ba-list {
  	padding: 76px 0 0 100px;
  	float: left;
}

.ba-service {
  	display: inline-block;
  	font-size: 0;
}

.ba-service h4 {
  	display: inline-block;
  	color: #262626;
  	font-size: 20px;
  	font-weight: 700;
  	line-height: 1.3;
 	width: calc(100% - 100px);
  	margin: 0;
  	vertical-align: middle;
  	padding: 0 30px;
  	text-align: center;
  	display: inline-block;
}

.ba-services li {
  	background-color: #ffffff;
  	box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.5);
  	width: 400px;
  	height: 100px;
  	list-style: none;
  	margin-top: 20px;
}

.ba-icon {
  	display: inline-block;
  	height: 100px;
  	width: 100px;
 	background-position: 50%;
 	background-repeat: no-repeat;
 	border-left: 1px solid #9D9D9D;
 	vertical-align: middle;
}

.ba-icon__images-shopping {
	background-image: url("../img/shopping.svg");
}

.ba-icon__images-quality {
  	background-image: url("../img/quality.svg");
}

.ba-icon__images-domestic {
  	background-image: url("../img/domestic.svg");
}

.ba-icon__images-welloz {
  	background-image: url("../img/welloz.svg");
}

.ba-tomato {
	padding-left: 30px;
	float: right;
}

.ba-tomato h3 {
  	color: #ffffff;
  	font-size: 90px;
  	font-weight: 700;
  	text-align: center;
  	padding: 220px 0;
  	color: #fff;
  	background: url("../img/tomato.png") no-repeat;
}

/* ba-gallery */

.ba-gallery {
  	background-color: #ffe92f;
  	text-align: center;
  	padding: 100px 0 120px;
}

.ba-gallery img {
  	box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.5);
}

.ba-gallery h3 {
  	color: #262626;
  	font-size: 90px;
  	font-weight: 700;
  	margin-bottom: 15px;
  	margin-top: 0;
}

.ba-gallery p {
  	color: #262626;
  	font-size: 17px;
  	font-weight: 300;
}

.ba-button__gallery {
  	margin-top: 50px;
  	background: #5585a2;
}

/* ba-subscribe */

.ba-subscribe {
  	background: url("../img/subscribebg.jpg") 50% no-repeat;
  	background-size: contain;
  	padding: 140px 0 160px;
}

.ba-subscribe h3 {
  	color: #262626;
  	font-size: 40px;
  	font-weight: 700;
}

.ba-subscribe p {
  	color: #262626;
  	font-size: 17px;
  	font-weight: 300;
}

.ba-subscribe input {
  	border: 1px solid;
  	min-height: 53px;
  	line-height: 53px;
  	padding: 0 15px;
}

.ba-subscribe input:focus {
  	border: #91A84F;
}

/* ba-blog */

.ba-blog {
  	background: #af7bf5;
  	background: linear-gradient(#af7bf5 0%, #af7bf5 100%);
  	text-align: center;
  	color: #fff;
  	padding: 100px 0;
}

.ba-blog h3 {
  	font-size: 90px;
  	font-weight: 700;
  	margin: 0;
}

.ba-blog p {
  	font-size: 17px;
  	font-weight: 300;
}

.ba-smooshie {
  	position: relative;
}

.ba-smooshie a {
  	color: #fff;
  	text-decoration: none;
}

.ba-smooshie__overlay {
  	position: absolute;
  	left: 0;
  	top: 0;
  	right: 0;
  	bottom: 0;
  	opacity: 1;
  	transition: .3s ease-in;
}

.ba-smooshie__date {
  	position: absolute;
  	border-radius: 5px;
  	background-color: rgba(38, 38, 38, 0.5);
  	width: 60px;
  	height: 60px;
  	top: 20px;
  	left: 20px;
}

.ba-smooshie__text {
  	position: absolute;
  	bottom: 20px;
  	left: 20px;
  	right: 20px;
  	height: 40%;
  	text-align: left;
}

.ba-smooshie__text span {
  	font-size: 20px;
  	font-weight: 700;
}

.ba-smooshie__text p {
  	font-size: 13px;
  	font-weight: 300;
}

.ba-smooshie:hover .ba-smooshie__overlay {
  	opacity: 1;
  	background: linear-gradient(to bottom, transparent 0%, rgba(0, 0, 0, 0.76) 100%);
}

.ba-soup {
  	position: relative;
}

.ba-soup a {
  	color: #fff;
  	text-decoration: none;
}

.ba-soup__overlay {
  	position: absolute;
  	left: 0;
  	top: 0;
  	right: 0;
  	bottom: 0;
  	opacity: 1;
  	transition: .3s ease-in;
}

.ba-soup__date {
  	position: absolute;
  	border-radius: 5px;
  	background-color: rgba(38, 38, 38, 0.5);
  	width: 60px;
  	height: 60px;
  	top: 20px;
  	left: 20px;
}

.ba-soup__text {
 	position: absolute;
 	bottom: 20px;
  	left: 20px;
  	right: 20px;
  	height: 40%;
  	text-align: left;
}

.ba-soup__text span {
  	font-size: 20px;
  	font-weight: 700;
}

.ba-soup__text p {
  	font-size: 13px;
  	font-weight: 300;
}

.ba-soup:hover .ba-soup__overlay {
  	opacity: 1;
  	background: linear-gradient(to bottom, transparent 0%, rgba(0, 0, 0, 0.76) 100%);
}

.ba-boxis {
  	position: relative;
}

.ba-boxis a {
  	color: #fff;
  	text-decoration: none;
}

.ba-boxis__overlay {
  	position: absolute;
  	left: 0;
  	top: 0;
  	right: 0;
  	bottom: 0;
  	opacity: 1;
  	transition: .3s ease-in;
}

.ba-boxis__date {
  	position: absolute;
  	border-radius: 5px;
  	background-color: rgba(38, 38, 38, 0.5);
  	width: 60px;
  	height: 60px;
  	top: 20px;
  	left: 20px;
}

.ba-boxis__text {
  	position: absolute;
  	bottom: 20px;
  	left: 20px;
  	right: 20px;
  	height: 40%;
  	text-align: left;
}

.ba-boxis__text span {
  	font-size: 20px;
  	font-weight: 700;
}

.ba-boxis__text p {
  	font-size: 13px;
  	font-weight: 300;
}

.ba-boxis:hover .ba-boxis__overlay {
  	opacity: 1;
  	background: linear-gradient(to bottom, transparent 0%, rgba(0, 0, 0, 0.76) 100%);
}

.ba-button__blog {
  	background-color: #f72b3b;
  	box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.5);
  	margin-top: 50px;
}

/* ba-contact */

.ba-contact {
  	background: #5D93B7 url("../img/contactbg.jpg") 50%;
  	background-size: cover;
  	padding: 100px 0 120px;
}

.ba-contact__title {
  	color: #262626;
  	font-size: 90px;
  	font-weight: 700;
  	margin: 0;
  	text-align: center;
}

.ba-contact p {
  	color: #262626;
  	font-size: 17px;
  	font-weight: 300;
  	text-align: center;
  	margin-bottom: 40px;
}

.ba-contact__form {
  	background-color: rgba(0, 196, 196, 0.5);
  	max-width: 500px;
  	height: 50px;
  	margin-bottom: 15px;
  	color: #fff;
  	text-decoration: none;
  	padding-right: 150px;
  	border-left: 5px solid transparent;
  	outline: transparent;
}

.ba-contact__form:focus {
  	background-color: #00c4c4;
  	border-left: 5px solid #355b82;
}

.ba-textarea {
  	height: 250px;
  	line-height: 1.1;
}

.ba-contact__info span {
  	color: #262626;
  	font-size: 17px;
  	font-weight: 700;
}

.ba-contact__info p {
  	color: #262626;
  	font-size: 20px;
  	font-weight: 300;
  	text-align: left;
  	margin: 0;
  	margin-bottom: 13px;
}

.ba-contact__info a {
  	text-decoration: none;
  	color: #262626;
}

.ba-button__contact {
  	background: #262C83;
}

/* ba-footer */

.ba-footer {
  	background-color: #262626;
  	min-height: 90px;
  	color: #b9b9b9;
  	padding: 30px 0;
  	font-size: 16px;
  	text-align: center;
}

.ba-footer__content {
  	color: #b9b9b9;
  	font-size: 16px;
  	font-weight: 300;
}

.ba-footer span {
  	color: #ff2b58;
}

.ba-footer__author {
  	text-decoration: none;
  	color: #b9b9b9;
}

.ba-footer__author:hover {
  	text-decoration: underline;
}

